@font-face {
    font-family:lalezarR;
    src: url(../fonts/joojoo.ttf);
}

body{
    font-family:lalezarR;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333333;  
}

nav a{
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 23px;
}

.pPack {
    float: left;
  }

.pButton { 
  border: none;
  color: #f2f2f2;
  background-color: #333;
  font-family: inherit;
  display: block;
  font-size: 23px;
  text-align: right;
  padding: 10px 10px;
}

nav a:hover, .pPack:hover .pButton{
    background-color: rgb(255, 255, 255);
    color: black;
    transition-duration: 250ms;   
}

nav a:not(:hover), .pButton:not(:hover){
    transition-duration: 250ms
}

nav a.split{
    float: right;
    text-align: right;
}

nav a.selected{
    background-color: rgb(255, 225, 53);
    color: black;
    user-select: none; 
}

.pList {
    top: 50px;
    display: none;
    position: fixed;
    background-color: #efefef;
    min-width: 4px;
    box-shadow:  -12px 10px 16px 0px rgba(0, 0, 0, 0.278);
    z-index: 1;
}
    
.pList a {
    font-size: 20.7px;
    float: none;
    color: black;
    padding: 9px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.pPack:hover .pList{
    display: block; 
}
    
.pList a:hover{
    display: block;
    background-color: #ddd;
}

#main {
    margin-top: 5%;
    background-color: #d7d3d3;
}